body {
  display: flex;
}

/* 全体を左右に分割 */
.container {
  display: flex;
  height: 100vh;
}

/* ------------------------------ */
/* 操作パネル */
/* ------------------------------ */
.sidebar {
  width: 280px;
  background: #f3f4f6;
  border-right: 2px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  overflow-y: auto;
}

.modebar {
  display: flex;
}

/* ------------------------------ */
/* 図形の選択 */
/* ------------------------------ */
#shape-selector {
  margin: 5px;
  display: block;
}

#line-selector {
  margin: 5px;
  display: none;
}

#color-selector {
  margin: 10px;
  display: none;

}

.export-selector {
  display: flex;
  margin: 10px;
}

/* ------------------------------ */
/* ボタンの基本スタイル */
/* ------------------------------ */

button {
  padding: 8px 10px;
  margin: 2px;
  border-radius: 4px;
  cursor: pointer;
  background: rgb(255, 255, 255);
  transition: all 0.2s;
}

button:hover {
  background: #818181;
}

/* ------------------------------ */
/* モードボタン（アクティブ） */
/* ------------------------------ */
#mode-add.active {
  background: #4CAF50;
  color: white;
  font-weight: bold;
}

#mode-line.active {
  background: #2196F3;
  color: white;
  font-weight: bold;
}

#mode-delete.active {
  background: #eb203b;
  color: white;
  font-weight: bold;
}

/* ------------------------------ */
/* 図形ボタン(アクティブ)*/
/* ------------------------------ */
#shape-square.active {
  background: #3B82F6;
  color: white;
}

#shape-circle.active {
  background: #EC4899;
  color: white;
}

#shape-triangle.active {
  background: #10B981;
  color: white;
}

#shape-diamond.active {
  background: #F59E0B;
  color: white;
}

#shape-slash.active {
  background: #6366F1;
  color: white;
}

/* ------------------------------ */
/* ライン（アクティブ） */
/* ------------------------------ */
#line-normal.active,
#line-double.active,
#line-wave.active {
  background: #5fdaff;
  color: white;
}

/* ------------------------------ */
/* ラインカラー（アクティブ） */
/* ------------------------------ */
#line-color-black.active {
  background: rgb(104, 104, 104);
  color: white;
  font-weight: bold;
}

#line-color-red.active {
  background: rgb(255, 85, 85);
  color: white;
  font-weight: bold;
}

#line-color-blue.active {
  background: rgb(84, 115, 255);
  color: white;
  font-weight: bold;
}

#line-color-green.active {
  background: rgba(53, 255, 53, 0.753);
  color: white;
  font-weight: bold;
}